@import url(https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap);

.battle-ships-play-container {
	width: 100%;
	height: 100vh;
	font-family: 'Press Start 2P', cursive;
	color: white;
	background-image: url("../../../images/background.png");
	background-color: black;
	background-repeat: no-repeat, repeat;
	background-size: 100% auto;
	overflow-y: hidden;
	overflow-x: hidden;
	margin: 0;
	padding: 0;
}

@media (max-width: 600px) {
	.battle-ships-play-container {
		height: 90vh;
	}
}
